{% extends "base.html" %} {% block title %} About Us - Kopitler {% endblock %}
{% block content %}
    <section
        style="background-image: url('../static/img/dummy_img_1.png') !important; background-repeat: no-repeat !important; background-attachment: fixed; background-position: center; background-size: cover;">
        <div class="container home-container1-content text-white">
            <div class="row min-vh-100 align-items-center">
                <div class="col-lg-12 col-sm-12 text-left">
                    <h1>About Header</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur in, ipsum quaerat quas <br>veniam sunt recusandae blanditiis nobis.</p>
                    <a type="button" class="btn btn-secondary" href="#"><small>View Menu <i class="fa-solid fa-mug-hot"></i></small></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}