{% load static %}

                <footer class="py-4 bg-light mt-auto postion">
                    <div class="container-fluid px-4">
                        <div class="small text-center">
                            <div class="text-muted">&copy; 2022 Hitler Inc Kōhī, All rights reserved.</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>       

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bs.js' %}" ></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/designfunc.js' %}"></script>
    </body>
</html>