{% extends "base.html" %}
{% block title %} Kopitler {% endblock %}
{% block content %}
<section style="background-image: url('../static/img/dummy_img_1.png') !important; background-repeat: no-repeat !important; background-attachment: fixed; background-position: center; background-size: cover;">
    <div class="container home-container1-content text-white">
        <div class="row min-vh-100 align-items-center">
            <div class="col-lg-12 col-sm-12 text-left">
                <h1>Home Header</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur in, ipsum quaerat quas <br>veniam sunt recusandae blanditiis nobis.</p>
                <a type="button" class="btn btn-secondary" href="{% url 'menu' %}"><small>View Menu <i class="fa-solid fa-mug-hot"></i></small></a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container home-container1-content">
        <div class="row min-vh-100 align-items-center">
            <div class="col-lg-12 col-sm-12 text-left">
                <h1>Title Header</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur in, ipsum quaerat quas <br>veniam sunt recusandae blanditiis nobis.</p>
                <a type="button" class="btn btn-" href="#"><small>Book an appointment<i class="fa-regular fa-calendar-check"></i></small></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
